.vscode
/data/ChIA-PET/CTCF/bedpe
/data/ChIA-PET/CTCF/bedpe_filtered
/data/ChIA-PET/CTCF/package
/data/ChIA-PET/CTCF/loop_record*
/data/ChIA-PET/CTCF/raw_data/*
!/data/ChIA-PET/CTCF/raw_data/GM12878
/data/ChIA-PET/CTCF/raw_data/GM12878/*
!/data/ChIA-PET/CTCF/raw_data/GM12878/ENCLB716IME_read1_ENCFF409UJV.fastq.gz
!/data/ChIA-PET/CTCF/raw_data/GM12878/ENCLB716IME_read2_ENCFF810FRZ.fastq.gz
/data/ChIA-PET2_result/*
!/data/ChIA-PET2_result/GM12878_ChIA-PET2_result
/data/ChIA-PET2_result/GM12878_ChIA-PET2_result/*
!/data/ChIA-PET2_result/GM12878_ChIA-PET2_result/GM12878.significant.interactions.intra.filtered.MICC
/data/ChIP-seq/*
!/data/ChIP-seq/GM12878
/data/ChIP-seq/GM12878/*
!/data/ChIP-seq/GM12878/ENCFF796WRU.bed.gz
/data/DNase/*
!/data/DNase/GM12878
/data/DNase/GM12878/*
!/data/DNase/GM12878/ENCFF759OLD.bed.gz
/data/FIMO_result/*
!/data/FIMO_result/MA1929.1_hg38_FIMO_result
/data/FIMO_result/MA1929.1_hg38_FIMO_result/*
!/data/FIMO_result/MA1929.1_hg38_FIMO_result/p-value_1e-4
/data/FIMO_result/MA1929.1_hg38_FIMO_result/p-value_1e-4/*
!/data/FIMO_result/MA1929.1_hg38_FIMO_result/p-value_1e-4/FIMO_filtered_sorted.tsv
/data/GCF_000001405.40
/data/hg38
/data/negative_loop/*
!/data/negative_loop/GM12878.type_0.subset_0.neg_loop_v2
/data/negative_motif
/data/phastcons/*
!/data/phastcons/get_phastcons.R
!/data/phastcons/phastcons.py
!/data/phastcons/phastCons100way.UCSC.hg38_3.7.1.tar.gz
/data/positive_loop/*
!/data/positive_loop/GM12878.type_1.pos_loop_v2
/data/pretrained_data/*
!/data/pretrained_data/GM12878*
/experiments/CharID/encoded_data
/experiments/CharID/logs
/experiments/CTCF-MP/Temp
/experiments/DeepCTCFLoop/data
/experiments/DeepCTCFLoop/logs
/experiments/DeepCTCFLoop/model
/experiments/DeepLUCIA/data
/experiments/DeepLUCIA/logs
/experiments/DeepLUCIA/model
/experiments/glove_embedding_experiments
/experiments/Lollipop/training_data
/figure/*
!/figure/test3fig.py
!/figure/test12fig.py
/references
/source/fine_tuned_anchor_model/logs
/source/fine_tuned_anchor_model/model
/source/fine_tuned_ocr_model/logs
/source/fine_tuned_ocr_model/model/*
!/source/fine_tuned_ocr_model/model/OCRModel_val_loss_2023_06_30_23_34_50.pt
!/source/fine_tuned_ocr_model/model/OCRModel_val_loss_2023_07_07_19_04_18.pt
/source/gnn_model
/source/loop_model/dl_training_data
/source/loop_model/logs
/source/loop_model/logs_backup
/source/loop_model/ml_training_data
/source/loop_model/model/*
!/source/loop_model/model/RandomForestClassifier_mine_allfeats_8cellline_byhealth.joblib
!/source/loop_model/model/RandomForestClassifier_mine_allfeats_8cellline_bychr.joblib
/source/pretrained_model/test.py
/source/pretrained_model/encoded_data
/source/pretrained_model/logs
/source/pretrained_model/logs_backup
/source/pretrained_model/model/*
!/source/pretrained_model/model/PretrainedModel_2023_06_29_20_59_01.pt
!/source/pretrained_model/model/PretrainedModel_2023_07_06_20_42_59_AnchorModel_v20230516_v1.pt
/source/pretrained_model/pytorch_glove/figures
/source/pretrained_model/pytorch_glove/data
/source/pretrained_model/pytorch_glove/model
/source/pretrained_model/pretrained_layer/logs
/source/pretrained_model/pretrained_layer/model
/temp
/test
*__pycache__*